@model IEnumerable<MVC_template.Data.Product>
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_LayoutTemplateSubpage.cshtml";
}
<h1>@ViewBag.ChiTiet</h1>
@foreach (var item in Model)
{
    <form asp-action="AddToCart" asp-controller="Shopping" asp-route-id ="@item.ProductId" asp-route-price="@item.Prices">
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/Images/Products/@item.Image" alt="@item.ProductName" /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <div class="small mb-1">Số lượng còn lại: @item.Quantity Kg</div>
                        <h1 class="display-5 fw-bolder">@item.ProductName</h1>
                        <div class="fs-5 mb-5">
                            <span>@item.Prices Vnđ</span>
                        </div>
                        <p class="lead">@item.ProductDescription</p>
                        <div class="d-flex">
                            <input name="quantity" class="form-control text-center me-3" min="1" max="@item.Quantity" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />

                            <button class="btn btn-outline-dark flex-shrink-0">
                                <i class="bi-cart-fill me-1"></i>
                                Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    
}


@*<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/Images/Product/@Model.Images" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">Shop item template</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">$45.00</span>
                    <span>$40.00</span>
                </div>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />
                    <a class="btn btn-outline-dark flex-shrink-0" >
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>*@

