@model IEnumerable<MVC_template.Data.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prices)
            </td>
            <td>
                    <img src="~/Images/Products/@item.Image" alt="@item.ProductName" width="100px" height="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Chi tiết</a> |
                    @{
                        if (item.IsHide == "false     ")
                        {
                            <a asp-action="Delete" asp-route-id="@item.ProductId">
                                Ẩn</a>
                        }
                        else
                        {
                            <a asp-action="Delete" asp-route-id="@item.ProductId">
                                Hiện</a>
                        }
                    }
                    
            </td>
        </tr>
}
    </tbody>
</table>
